<div class="chat-header-fix">
  <div class="chat-header">
    <% if user_signed_in? %>
      <%= link_to image_tag("back_arrow", size: "40x40"), creator_path(@chat.creator.id), class: "back-arrow" %>
      <p class="chat-name"><%= @chat.creator.name %></p>
      <p class="chat-user-creator">Creator</p>
    <% elsif creator_signed_in? %>
      <%= link_to image_tag("back_arrow", size: "40x40"), creator_path(@chat.creator.id), class: "back-arrow" %>
      <p class="chat-name"><%= @chat.user.name %></p>
      <p class="chat-user-creator">User</p>
    <% end %>
  </div>
</div>
<div class="chat-body">
  <div class="left-message">
    <%= image_tag "user_icon", size: "50x50", class: "left-message-img" %>
    <p class="left-message-text">ここにテキストが入りますよ</p>
    <p class="left-message-time">2021/8/9</p>
  </div>
  <div class="right-message">
    <p class="right-message-time">2021/8/9</p>
    <p class="right-message-text">ここにテキストが入りますよ</p>
    <%= image_tag "user_icon", size: "50x50", class: "right-message-img" %>
  </div>
</div>
<div class="chat-bottom">
  <%= form_with model: [@chat, @message], class: "chat-form", local: true do |f| %>
    <div class="chat-field">
      <%= f.text_area :text, placeholder: "メッセージを入力してください" %>
    </div>
    <div class="chat-submit">
      <%= image_submit_tag("send.png", class: "chat-submit-btn") %>
    </div>
  <% end %> 
</div>