<h1>曲を投稿する<h1>
<%= form_with model:@song, local: true do |f| %>
<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :audio %><br />
    <%= f.file_field :audio %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, autocomplete: "description" %>
  </div>

  <div class="field">
    <%= f.label :genre_id %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, autocomplete: "price" %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "アップロード" %>
  </div>
<% end %>
