<%= render partial: "shared/header" %>
<div class="profile-body">
  <div class="profile-header">
    <div class="profile-header-contents">
      <% unless @creator.image.present? %>
        <%= image_tag "user_icon", class: "profile-image"%>
        <% else %>
        <%= image_tag @creator.image.url, class: "profile-image" %>
      <% end %>
      <h2 class="profile-name"><%= @creator.name %></h2>  
      <p class="what-kind">-Creator-</p>
    </div>  
  </div>
  <div class="profile-main">
    <h1 class="profile-logo">Profile</h1>
    <p class="profile-text"><%= @creator.profile %></p>
    <% if user_signed_in? %>
      <div class="request-btn"><%= link_to '作曲依頼', creator_plans_path(@creator.id) %></div>
    <% elsif creator_signed_in? && current_creator.id == @creator.id %>
      <div class="request-btn"><%= link_to '編集する', edit_creator_registration_path %></div>
      <div class="request-btn"><%= link_to 'プラン一覧', creator_plans_path(current_creator.id) %></div>
    <% end %>
  </div>
  <h1 class="music-logo">Music</h1> 
  <%= render partial: 'shared/song', collection: @songs %>
  <%= render partial: "shared/footer" %>
</div>