<%= render partial: "shared/header" %>
<div class="plan-index-body">
  <%= render partial: "shared/creator_profile", locals: { creator: @creator } %>
<div class="plan-index-main">
  <h1 class="plan-logo">Plans</h1>
  <% unless @plans.present? %>
    <p class="no-plans">現在依頼を受け付けていません。</p>
  <% end %>
  <% @plans.each do |plan| %>
    <div class="plan">  
      <% if user_signed_in? %>
        <%= link_to plan.course , creator_plan_orders_path(@creator.id, plan.id), class: "plan-course" %>
      <% else %>
        <p class="plan-course"><%= plan.course %></p>
      <% end %>
      <p class="plan-description">
        <%= plan.description %>
      </p>
      <% if creator_signed_in? && plan.creator.id == current_creator.id %>
        <%= link_to "編集", edit_creator_plan_path(current_creator.id, plan.id), class: "plan-edit" %>
        <%= link_to "削除", creator_plan_path(current_creator.id, plan.id), method: :delete, class: "plan-delete" %>
      <% end %>
      <p class="plan-price">¥<%= plan.price %></p>
      <p class="plan-delivery">納期：<%= plan.delivery %></p>
    </div>
  <% end %>
  <% if creator_signed_in? && current_creator.id == @creator.id %>
    <div class="plan-btn"><%= link_to "新規プラン作成", new_creator_plan_path(current_creator.id) %></div>
  <% end %>
</div>
<%= render partial: "shared/footer" %>